version: '3.8'

services:
    database:
        container_name: database
        image: mysql:8.0
        command: --default-authentication-plugin=mysql_native_password
        environment:
            MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
            MYSQL_DATABASE: ${DB_NAME}
            MYSQL_USER: ${DB_USERNAME}
            MYSQL_PASSWORD: ${DB_PASSWORD}
        ports:
            - '4306:3306'
        volumes:
            - ./mysql:/var/lib/mysql
    php:
        container_name: php
        build:
            context: ./docker_config/php
        ports:
            - '9000:9000'
        volumes:
            - ./app:/var/www/wristwatch_store
        depends_on:
            - database
    nginx:
        container_name: nginx
        image: nginx:stable-alpine
        ports:
            - '90:80'
        volumes:
            - ./app:/var/www/wristwatch_store
            - ./docker_config/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - php
            - database